<mat-card *ngFor="let comment of commentList">
  <mat-card-header>
    <img
      mat-card-avatar
      src="../../../../assets/blank-profile-picture-g19ba23f36_640.png"
    />
    <div class="user-info">
      <div class="user-name-role">
        <mat-card-title class="user-name">{{ comment.userName }}</mat-card-title>
        <mat-card-title class="user-role">{{ comment.userRole }}</mat-card-title>
      </div>
      <mat-card-subtitle class="publish-date">Posted at
        {{
          comment.date.toLocaleString().split("T")[0] +
            " " +
            comment.date.toLocaleString().split("T")[1].split(".")[0]
        }}</mat-card-subtitle>
    </div>
  </mat-card-header>
<mat-card-content>
  <p>{{ comment.text }}</p>
</mat-card-content>
<div class="button-group">
  <button mat-icon-button color="warn" aria-label="Delete" *ngIf="isAdmin() || isOwner(comment)" (click)="onDelete(comment)" class="delete-button">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Edit" *ngIf="isAdmin() || isOwner(comment)" (click)="onEdit(comment)" class="edit-button">
    <mat-icon>edit</mat-icon>
  </button>
</div>
</mat-card>
<div class="bottom-paginator">
  <mat-paginator *ngIf="totalComments >= 3" [length]="totalComments" [pageSize]="3" (page)="onPageChange($event)"></mat-paginator>
</div>
