.main-div mat-card {
  padding: 0px;
  margin-top: 50px;
}

.feedback-form {
  padding: 20px;
}

.header {
  background-color: #BA4A00;
  color: white;
}

.radio-group {
  margin-bottom: 20px;
}

.checkbox-group {
  margin-bottom: 20px;
}

.button-group {
  margin-top: 20px;
}

.mat-radio-button {
  display: block;
  margin-bottom: 10px;
}

.radio-label {
  font-size: 14px;
  margin-bottom: 10px;
}
