<div class="page-container">
  <div class="content-container">
    <div class="container">
      <mat-toolbar class="header">
        <span id="app_title" fxLayoutAlign="center">GourmetGuide</span>
        <img id="logo" src="../assets/logo.jpg" alt="" style="width: 50px; height: 50px;" class="round-image"/>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </div>
  <footer class="footer-container">
    <mat-toolbar class="footer">
    </mat-toolbar>
  </footer>
</div>
